/*MEME*/
.editor { /*flex*/
    display: none;
 
    /* background-color: hotpink; */
    padding-top: 24px;
    padding-bottom: 21px;
    padding-left:11.4vw;
    gap: 97px;
    gap: 8vw;
    justify-content: center
}

.canvas-container {
    width: 40vw;
    height: 40vw;
    z-index: 1;
    background-color: #3629e7;
    margin: 0 0;
    
}

canvas {
    background-color: #ffeef4;
    height: 100%;
    width: 100%;
    display: block; /*WHY???*/
    margin: 0 auto; /*WHY???*/
}

.control-box {
    /* background-color: indigo; */


}

.control-box .flex {
    justify-content: center;
    gap: 5px;
}


/**********SHARE SECTION************/
.share-options {
    display: none;
    height: 534px;
    width: 534px;
    /* margin-right: -267px; */
    background: white;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 20px;
    padding: 237px 123px;
    
}

/* .share .flex-container{
    
justify-content: space-evenly;
} */

.share-options .share, .download, .close {
    background-color: #FF7F00;
    color: white;
    border-style: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    margin-right: 1rem;
    text-align: center;
    vertical-align: middle; 
    line-height: 50px;
}

/* .close {
    text-decoration: underline;
    padding-top: 2rem;
    position: sticky;
} */