* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: impact;
    src: url(../fonts/impact.ttf);
}

/*BASE*/
body {
    margin: 0;
    font-family: montserrat;
}

h1, h2, h3, h4, h4, h5, p {
    margin: 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/*clean list*/
li, ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/**LAYOUT*/
.container {
    margin: 0 auto;
    flex-direction: column;
    max-width: 400px;
}

main {
    background-color: #E3E3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conatiner {
    padding: 0 auto;
    /* max-width: 1201px; */
}

/*HELPERS*/

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/*HEADER*/ /*TODO add hover and active, logo font-family*/
header {
    background-color: #FF7F00;
    font-size: 19px;
    height: 66px;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 2;
}

.header-cover {
    height: 66px;
}

header h3 {
    margin: 0;
}

header nav li {
    height: 66px;
    /* height: 3.75rem; */
    align-items: center;
}

header nav a {
    /* width:  */
    padding-left: 29px;
}

img {
    object-fit: contain;
}

/*SEARCH*/
.search {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 100px;
    flex-direction: column;
}

.search .kws {
    flex: 1;
    justify-content:space-between;
    gap: 2rem;
}

.search .search-box {
    vertical-align: middle;
    margin-top: 3px;
    height: 37px;
}

/* 
.search img {
    height: 20px;
} */

@media screen and (min-width: 740px) {
        .search {
            padding-left: 50px;  
            padding-right: 50px;        
            flex-direction: row;
        }
        .search .kws {
            justify-content: flex-end;
        }
    
}

/*MEMES GRID*/
.img-container {
    /* max-width: 400px; */
    background-color: #E3E3E3;
    margin-bottom: 77px;
    display: grid;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-rows: repeat(auto-fit 5.3rem);
    gap: 10px 10px;
}

.img-container img {
    display: flex;
    width: 100%;
    height: 100%;
}


/**********************ABOUT**************/

    .about {
        
        justify-content: center;
        padding-top: 77px;
        padding-bottom: 166px;
        background-color: white;
        /* background-color: yellowgreen; */
        width: 100%;
    }
    .about .monica {
        height:323px;
        width: 323px;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .about .about-text {

        font-size: 20px;
        justify-content: center;
        margin-bottom: 1em;
        margin-left: 39px;
    }
    
    .about .bold{
        font-size: 25px;

    }

    @media screen and (max-width: 740px){
        .about .monica {
            height:323px;/**/
            width: 323px;/**/
        }
    }

@media screen and (max-width: 1200px){
    
    .about {
        justify-content: center;
        padding-top: 33px;
        padding-bottom: 166px;
        background-color: white;
        flex-direction: column;
        align-items: center;/**/
        text-align: center;/**/
    
    }
    .about .monica {
        height:158px;/**/
        width: 158px;/**/
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 18px;
    }
    
    .about .about-text {
        font-size: 15px;/**/
        justify-content: center;
        margin-bottom: 1em;
        margin-left: 39px;
    }
    
    .about .bold{
        font-size: 22px;/**/
        color: #FF7F00;
    }
}


/*************FOOTER*****************/
footer {
    padding-top: 78px;
    padding-bottom: 73px;
    background-color: #FF7F00;
    color: #FFFFFF;
    text-align: center;
    
}

footer p {
    margin: 0;
}


@media screen and (min-width: 740px) {

    header {
        padding-left: 50px;
        padding-right: 50px;
    }


    .img-container {

        grid-template-columns: 1fr 1fr;
        gap: 19px 19px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
}

@media screen and (min-width: 1200px) {

    header {
        /* background-color: green; */
    }
    .container {
        max-width: 1200px;
    }

    .img-container {

        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    
}
