/* #EEEEFF #7F7CAF #9FB4C7 #28587B #9FB798   */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #28587B;
}


canvas {
    background-color: #EEEEFF;
    display: block; /*WHY???*/
    margin: 0 auto; /*WHY???*/
}

.canvas-container {
    height: 90vh;
    width: 90vw;
    background-color: #7F7CAF;
    margin: 0 auto;
}

.select {
    border: 1px solid #9FB798;
    width: 90vw;
    margin: 0 auto;
    background-color: #9FB4C7;
}