/*colors: #000000, #fa255e, #c39ea0, #f8e5e5*/

.App {
  text-align: center;
}

.flex{
  display: flex;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
